/* GOOGLE FONTS */
.roboto-fine,
footer p,
footer li {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-regular,
p,
li {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-condensed-bold,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.roboto-condensed-boldest,
h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* GLOBAL */
*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COLOR SCHEME */
html {
    background-color: #FFFFFF;
    color: #000000;
}

.bg-lt-green {
    background-color: #D9EEE1;
}

.bg-green {
    background-color: #04AA6D;
}

.bg-gray {
    background-color: #E7E9EB;
}

.bg-ink {
    background-color: #282A35;
}

.font-white {
    color: #F1F1F1;
}

.font-gray {
    color: #bdbdbd;
}

.shadow {
    box-shadow: 0 3px 5px #979797 !important;
}

/* ICON */
#main-icon {
    width: 25px;
}

/* NAVBAR */
nav a {
    text-align: center !important;
    padding: 8px 0px !important;
    text-decoration: none !important;
    flex: 1 1 auto !important;
    margin: 0 !important;
}

.nav-link {
    color: #F1F1F1 !important;
}

.nav-link:hover {
    background-color: #363845;
    transition: ease 0.5s;
}

nav .active {
    color: #04AA6D !important;
}

/* OVERVIEW PAGE */
#demo-del-btn {
    font-size: 12px;
}

#overview-chart {
    width:100% !important;
    max-width: 700px !important;
}

.overview-cards {
    padding: 0 !important;
    background-color: #E7E9EB !important;
}

.overview-card-sm {
    max-width: 300px !important;
}

/* MEDIA QUERIES */
@media(max-width: 768px) {
    .overview-card-sm .card-header,
    .overview-card-sm .card-body {
        padding: 2px !important;
    }

    .overview-card-sm {
        margin: 8px auto !important;
    }
}